# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
# Read CSV and save to dataframe
city_data = pd.read_csv(f"../WeatherPy/citydata.csv")
city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,lilongwe,-13.9669,33.7873,71.60,68,0,5.75,MW,1619713009
1,barrow,71.2906,-156.7887,19.40,86,90,11.50,US,1619712923
2,tandil,-37.3217,-59.1332,69.08,55,5,12.24,AR,1619712941
3,husavik,66.0449,-17.3389,44.60,57,0,13.80,IS,1619712774
4,iqaluit,63.7506,-68.5145,33.80,93,90,13.80,CA,1619713010
...,...,...,...,...,...,...,...,...,...
564,cedeno,7.0464,-72.1634,80.11,72,95,3.27,CO,1619713207
565,eyl,7.9803,49.8164,84.97,68,51,12.84,SO,1619713207
566,progreso,21.2833,-89.6667,91.99,51,75,18.41,MX,1619713208
567,khasan,42.4308,130.6434,42.69,76,100,6.15,RU,1619713208
568,tunceli,39.1083,39.5471,69.80,43,75,13.80,TR,1619713208

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configure gmaps
gmaps.configure(api_key=g_key)
city_data = city_data.dropna()

# Set locations
locations = city_data[["Lat", "Lng"]].astype(float)

# Convert humidity to float and store
humidity = city_data["Humidity"].astype(float)

In [15]:
# Create a poverty Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
# My conditions: 
    # Temperature between 68 and 86 Farenheit
    # Cloudiness of 40% or less
    # Humidity between 30% and 50%
cond1 = city_data[city_data['Max Temp'] <= 86]
cond1 = cond1[cond1['Max Temp'] >= 68]
cond2 = cond1[cond1['Cloudiness'] <= 40]
cond3 = cond2[cond2['Humidity'] <= 50]
cities_criteria = cond3[cond3['Humidity'] >= 30]
cities_criteria

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,puerto penasco,31.3167,-113.5333,73.99,45,1,6.17,MX,1619713011
61,praya,14.9215,-23.5087,80.60,50,40,21.85,CV,1619712912
68,karratha,-20.7377,116.8463,80.65,49,0,6.22,AU,1619713030
142,santa cruz,-17.8000,-63.1667,77.00,44,40,13.80,BO,1619712903
160,mount isa,-20.7333,139.5000,69.80,35,16,5.75,AU,1619713061
161,marsa matruh,31.3525,27.2453,77.00,47,0,5.75,EG,1619713061
196,sao borja,-28.6606,-56.0044,72.37,39,0,7.25,BR,1619713072
232,dom pedrito,-30.9828,-54.6731,71.74,31,0,2.71,BR,1619713085
241,chuy,-33.6971,-53.4616,69.91,46,0,4.38,UY,1619713088
316,cabo san lucas,22.8909,-109.9124,79.00,46,1,4.61,MX,1619713084
326,abapo,-18.8333,-63.4667,77.90,34,17,3.24,BO,1619713123
328,letlhakane,-21.4167,25.5833,75.87,43,37,6.55,BW,1619713123
358,ilam,26.9167,87.9167,70.74,44,35,6.69,NP,1619712902
387,praia,14.9215,-23.5087,80.60,50,40,21.85,CV,1619713143
397,laguna,38.4210,-121.4238,68.00,42,1,3.44,US,1619712846
407,kochinda,21.7333,84.3500,84.83,41,27,7.85,IN,1619713150
410,taloqan,36.7361,69.5345,74.32,33,5,2.86,AF,1619713151
425,alta gracia,-31.6529,-64.4283,77.00,46,0,16.11,AR,1619713156
471,rocha,-34.4833,-54.3333,71.85,47,2,3.94,UY,1619713173
472,kangra,32.1000,76.2667,72.75,42,36,8.14,IN,1619713173
473,tura,25.5198,90.2201,81.09,31,38,3.33,IN,1619712918
476,lugovoy,42.9472,72.7644,69.93,37,1,8.39,KZ,1619713174
495,santiago,-33.4569,-70.6483,72.00,42,2,4.61,CL,1619713181
506,komsomolskiy,40.4272,71.7189,78.80,34,2,4.61,UZ,1619712932
532,gujar khan,33.2558,73.3026,78.98,35,33,8.01,PK,1619713193
546,roebourne,-20.7833,117.1333,80.64,46,0,6.85,AU,1619713198
552,solano,38.2333,-121.9511,69.01,45,1,8.05,US,1619713200

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
# Get cities coordinates and look for airports
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
cities_hotels = cities_criteria[['City','Lat','Lng']]
hotels = []
for index, row in cities_hotels.iterrows():
    lats = cities_hotels['Lat'][index]
    lngs = cities_hotels['Lng'][index]
    params = {
        "location": f"{lats},{lngs}",  
        "rankby": "distance",
        "keyword": "hotel",
        "key": g_key,}
    # Get airports
    response = requests.get(base_url, params=params).json()
    try:
        results = response['results']
        hotels.append(results[0]['name'])
    except:
        print(f"A nearby hotel was not found for {cities_criteria['City'][index]}")
        cities_criteria = cities_criteria.drop(index)
hotels

A nearby hotel was not found for lugovoy

['Hotel ParaÃ­so',
 'Hotel Santa Maria',
 'Karratha International Hotel',
 'AH HOTEL ***',
 'Travellers Haven',
 'Summer Palace Hotel',
 'Hotel Pampa',
 'Hotel Alexandre',
 'Hotel Internacional',
 'Estancia Real Los Cabos',
 'Hotel Restaurante el petrolero 1',
 'Lallavilla Guest House',
 'Chiyabari Cottage',
 'Hotel Santa Maria',
 'Holiday Inn Express & Suites Elk Grove Central - Hwy 99',
 'Hotel Delux',
 'ØµØ§Ù„ÙˆÙ† Ø¹Ø±ÙˆØ³ÛŒ Ù‚ØµØ± ØªØ®Ø§Ø± Qasri Takhar Wedding Hall',
 'Hotel Ritz',
 'La Tahona',
 'Hotel Sai Villa',
 'Hotel RIKMAN Continental',
 'Arturo Prat Dpto 1201 torre B',
 'Diyor hotel',
 'Amin Hotel',
 'Harding River Caravan Park',
 'Hampton Inn and Suites Suisun City Waterfront']

In [26]:
# Add to dataframe
hotel_df = pd.DataFrame(cities_criteria)
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
7,puerto penasco,31.3167,-113.5333,73.99,45,1,6.17,MX,1619713011,Hotel ParaÃ­so
61,praya,14.9215,-23.5087,80.60,50,40,21.85,CV,1619712912,Hotel Santa Maria
68,karratha,-20.7377,116.8463,80.65,49,0,6.22,AU,1619713030,Karratha International Hotel
142,santa cruz,-17.8000,-63.1667,77.00,44,40,13.80,BO,1619712903,AH HOTEL ***
160,mount isa,-20.7333,139.5000,69.80,35,16,5.75,AU,1619713061,Travellers Haven
161,marsa matruh,31.3525,27.2453,77.00,47,0,5.75,EG,1619713061,Summer Palace Hotel
196,sao borja,-28.6606,-56.0044,72.37,39,0,7.25,BR,1619713072,Hotel Pampa
232,dom pedrito,-30.9828,-54.6731,71.74,31,0,2.71,BR,1619713085,Hotel Alexandre
241,chuy,-33.6971,-53.4616,69.91,46,0,4.38,UY,1619713088,Hotel Internacional
316,cabo san lucas,22.8909,-109.9124,79.00,46,1,4.61,MX,1619713084,Estancia Real Los Cabos
326,abapo,-18.8333,-63.4667,77.90,34,17,3.24,BO,1619713123,Hotel Restaurante el petrolero 1
328,letlhakane,-21.4167,25.5833,75.87,43,37,6.55,BW,1619713123,Lallavilla Guest House
358,ilam,26.9167,87.9167,70.74,44,35,6.69,NP,1619712902,Chiyabari Cottage
387,praia,14.9215,-23.5087,80.60,50,40,21.85,CV,1619713143,Hotel Santa Maria
397,laguna,38.4210,-121.4238,68.00,42,1,3.44,US,1619712846,Holiday Inn Express & Suites Elk Grove Central...
407,kochinda,21.7333,84.3500,84.83,41,27,7.85,IN,1619713150,Hotel Delux
410,taloqan,36.7361,69.5345,74.32,33,5,2.86,AF,1619713151,ØµØ§Ù„ÙˆÙ† Ø¹Ø±ÙˆØ³ÛŒ Ù‚ØµØ± ØªØ®Ø§Ø± Qasri Takhar Wedding Hall
425,alta gracia,-31.6529,-64.4283,77.00,46,0,16.11,AR,1619713156,Hotel Ritz
471,rocha,-34.4833,-54.3333,71.85,47,2,3.94,UY,1619713173,La Tahona
472,kangra,32.1000,76.2667,72.75,42,36,8.14,IN,1619713173,Hotel Sai Villa
473,tura,25.5198,90.2201,81.09,31,38,3.33,IN,1619712918,Hotel RIKMAN Continental
495,santiago,-33.4569,-70.6483,72.00,42,2,4.61,CL,1619713181,Arturo Prat Dpto 1201 torre B
506,komsomolskiy,40.4272,71.7189,78.80,34,2,4.61,UZ,1619712932,Diyor hotel
532,gujar khan,33.2558,73.3026,78.98,35,33,8.01,PK,1619713193,Amin Hotel
546,roebourne,-20.7833,117.1333,80.64,46,0,6.85,AU,1619713198,Harding River Caravan Park
552,solano,38.2333,-121.9511,69.01,45,1,8.05,US,1619713200,Hampton Inn and Suites Suisun City Waterfront

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    locations, 
    info_box_content=[f"Name: {hotel_df['Hotel Name'][index]} | City: {hotel_df['City'][index]} | Country: {hotel_df['Country'][index]}"
                      for index, row in hotel_df.iterrows()]
)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))